@import '../vars';

.profile {
  margin-top: 100px;
}

.profile-table {
  border: 1px solid $grayDark;

  &__head {
    background: $grayDark;
    padding: 10px 0;
  }

  &__person, &__id {
    font-weight: $fontBold;
    font-size: 16px;
  }

  &__item {
    cursor: pointer;
  }

  &__col {
    padding: 11px 20px;
    border-top: 1px solid $grayDark;

    &_right {
      text-align: right;
    }

    &_multi {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__value {
    margin-right: 15px;
  }
}
